/* 橙色皮肤 */

#app .el-header[data-v-7ba5bd90] {
    line-height: 60px !important;
    background-color: #FFA500 !important;
    color: white !important;
}


.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #FFA500 !important;
    color: #FFF !important;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #FFA500 !important;
}

.el-tag {
    background-color:#FFA500 !important;
    border-color:#FFA500 !important;
    color:#FFF !important;
    opacity:.75;
}

.el-button--primary {
    color: #FFF !important;
    background-color: #FFA500 !important;
    border-color: #FFA500 !important;
}

#app .el-footer[data-v-7ba5bd90] {
    background-color: #FFA500 !important;
}
